MONGO_URI=mongodb://localhost:27017/arbitrage-bot
PORT=8080
BINANCE_WS_URL=wss://stream.testnet.binance.vision/stream?streams=ethusdt@ticker/btcusdt@ticker/solusdt@ticker
BYBIT_WS_URL=wss://stream-testnet.bybit.com/v5/public/spot
BINANCE_API_KEY=HbUXUosQ03RfMTadt5qrrGxzhp3M2ow5MtWiAaRVvzoyJfu95ZhUrmvKCZjMNer8
BINANCE_API_SECRET=osaEyiBS6JkgYq16JSHpg8lL7ZZ6r5aoVHI2kpxAbDyxoI38zqKwRA2M10qMXPhA
BINANCE_BASE_URL=https://testnet.binance.vision
BINGX_API_KEY=vUt0UoLjsO3nlCdownOswq7R2SbynStJCLsIfncnFk36DUQ0Sza3231kBVxnNykxKquiAjIRGncfecZ5XA
BINGX_SECRET=GLVhnn4NWaUmXAcBWHtg6dD5zn68a4ElN7YY9l9BFspWNgXgGpLG8kcjjD1orW9AZHzXtjqcAp2mLhyaqt2WA
OKX_API_KEY=8adb6cfe-0a53-4626-aa18-837b2fb7c14c
OKX_SECRET=F028A69F6FEDA05CC8B3CDE848139BF0
OKX_PASSPHRASE=A123b567@
BASE_URL_OKX=https://www.okx.com
BYBIT_API_KEY=M6BmeOat3CD7UP4dv6
BYBIT_SECRET=jjb3kq2QxBfQ9Nbl8PAzL8wEhAWWqupjowQQ
MEXC_BASE_URL=https://api.mexc.com
MEXC_API_KEY=mx0vglzuZ4UyvqJkh6
MEXC_SECRET=6a31d2001c1847beb3c6d2926d64b18e
MEXC_WS_STREAM_BASE_URL=ws://wbs-api.mexc.com/ws
BOT_TOKEN=8204995814:AAEAQj4seWIKuGOW0fpAFB9fYiaIlJ5ofzc
SLIPPAGE_PERCENT=0.25
DIRECT_ARB_SIZE=0.5
TRIANGULAR_ARB_SIZE=200
PROFIT_THRESHOLD = 0.5
